.parallax {
    background-image: url('https://i.pinimg.com/originals/7c/ce/15/7cce15ca6c0bcbee8c624a5ec2859081.jpg');
  
    min-height: 500px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }